@inherits LayoutComponentBase
@inject PanelService PanelService

<div class="console-container">
  <div class="console-header">
    <GlobalHeader @rendermode="InteractiveServer" />
  </div>
  
  <div class="console-main">
    <div class="console-panel audio-setup-panel">
      <AudioSetupPanel @bind-SelectedInput="CurrentInput" @rendermode="InteractiveServer" />
    </div>
    
    <div class="console-panel now-playing-panel">
      <NowPlayingPanel CurrentInput="@CurrentInput" @rendermode="InteractiveServer" />
    </div>
    
    <div class="console-panel visualization-panel">
      <VisualizationPanel @rendermode="InteractiveServer" />
    </div>
  </div>

  @* System Test Panel - Slide-out (Updated to use PanelService) *@
  <InteractivePanelWrapper PanelName="SystemTest" @rendermode="InteractiveServer">
    <MudStack>
      <MudStack Row="true" Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center">
        <MudText Typo="Typo.h5">
          <MudIcon Icon="@Icons.Material.Filled.Science" Class="mr-2" />
          System Test & Configuration
        </MudText>
        <MudIconButton Icon="@Icons.Material.Filled.Close" 
                       Color="Color.Default" 
                       OnClick="@(() => PanelService.ClosePanel("SystemTest"))" />
      </MudStack>
      <MudDivider />
      <SystemTestPanel />
    </MudStack>
  </InteractivePanelWrapper>

  @* Configuration Panel - Slide-out *@
  <InteractivePanelWrapper PanelName="Configuration" @rendermode="InteractiveServer">
    <ConfigurationPanel />
  </InteractivePanelWrapper>

  @* System Status Panel - Slide-out *@
  <InteractivePanelWrapper PanelName="SystemStatus" @rendermode="InteractiveServer">
    <SystemStatusPanel />
  </InteractivePanelWrapper>

  @* Alert Management Panel - Slide-out *@
  <InteractivePanelWrapper PanelName="AlertManagement" @rendermode="InteractiveServer">
    <AlertManagementPanel />
  </InteractivePanelWrapper>

  @* Radio Control Panel - Slide-out *@
  <InteractivePanelWrapper PanelName="RadioControl" @rendermode="InteractiveServer">
    <MudStack>
      <MudStack Row="true" Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center" Class="pa-4">
        <MudText Typo="Typo.h5">
          <MudIcon Icon="@Icons.Material.Filled.Tune" Class="mr-2" />
          Advanced Radio Controls
        </MudText>
        <MudIconButton Icon="@Icons.Material.Filled.Close" 
                       Color="Color.Default" 
                       OnClick="@(() => PanelService.ClosePanel("RadioControl"))" />
      </MudStack>
      <MudDivider />
      <RaddyRadioControlPanel />
    </MudStack>
  </InteractivePanelWrapper>

  @* Backdrop overlay - shown when any panel is open *@
  <InteractiveLayoutWrapper @rendermode="InteractiveServer" />
</div>

@code {
  private string CurrentInput { get; set; } = "Radio";
}

